<h2>Le contenu de votre panier</h2>

<p>
    <a routerLink="/shipping">Prix de livraison</a>
</p>

<div class="cart-item" *ngFor="let item of items">
    <span>{{item.name}}</span>
    <span>{{item.price | currency}}</span>
</div>

<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">

    <div>
        <label for="name">
            Name : 
        </label>
        <p><input type="text" id="name" formControlName="name"></p>
        <label for="prenom">
            Prenom :
        </label>
        <p><input type="text" id="prenom" formControlName="prenom"></p>
    </div>
<br>
    <div>
        <label for="adresse">
            Adresse : 
        </label>
        <p><input type="text" id="adresse" formControlName="adresse"></p>
    </div>
<br>
    <div>
        <label for="coordonneesbancaire">
            Coordonnées Bancaire :
        </label>
        <p><input type="number" id="coordonneesbancaire" formControlName="coordonneesbancaire"></p>
        <label for="numerocryptage">
            Numéro de Cryptage :
        </label>
        <p><input type="password" id="numerocryptage" formControlName="numerocryptage"></p>
    </div>
    <div>
        <button class="btn btn-success" type="submit">Valider</button>
        <button class="btn btn-danger" type="reset">Annuler</button>
    </div>
</form>

